/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 86px;
    display: flex;

    > .wrapper {
      display: flex;
      flex: 1;
      align-items: center;
    }

    // Positioning context for the mobile navigation icon
    position: relative;

    @include media-query($on-palm) {
      min-height: 56px;
    }
}

.site-title {
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    display: flex;
    align-items: center;

    .site-title-logo {
      height: 52px;
    }

    .site-title-post {
      margin-left: 8px;
      color: $text-light-color;
    }
}

.site-nav {
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        transition: box-shadow 0.15s ease-in-out;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }

        &:hover {
          box-shadow: 0 2px $brand-color;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    margin-bottom: $spacing-unit / 2;

    > .footer-title {
          font-size: 18px;
          display: inline-block;
    }

    > .rss-subscribe {
      float: right;
    }
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Home
 */
.home-visual {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  height: 128px;

  .home-symbol {
    width: 128px;
    position: absolute;
  }

  .home-symbol-over {
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 0;
    }
  }

  @include media-query($on-palm) {
    display: none;
  }
}


/**
 * Page content
 */
.page-content {
    background-color: #f4f4f4;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    padding: 32px 0;
    list-style: none;

    > a {
        color: #333;
        > li {
          background-color: #ffffff;
          padding: 16px;
          margin-bottom: 24px;
          border: 1px solid $grey-color-light;
          transition: border 0.15s ease-in-out;
          display: flex;
          flex-direction: row;
          min-height: 128px;


          &:hover {
            border: 1px solid $brand-color;
          }

          .post-li-main {
            display: flex;
            flex: 1;
            flex-direction: column;

            .post-li-meta {
              color: $text-light-color;
            }

            > .post-li-title {
              font-size: 38px;
              font-weight: lighter;
              margin-top: 8px;
            }

            > .post-li-description {
              margin-top: 16px;
              color: $text-light-color;
            }
          }


          > .post-li-profile {
            display: flex;
            flex-direction: column;
            align-items: center;


            .post-li-profile-img {
              width: 64px;
              height: 64px;

              > img {
                border-radius: 50%;
              }
            }

            .post-li-profile-name {
              color: $text-light-color;
              margin-top: 16px;
            }
          }
        }

        &:hover {
          text-decoration: none;
        }
    }
}

.post-link {
}



/**
 * Posts
 */
.post {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
}

.post-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 56px;
    font-weight: lighter;
    line-height: 1;
    color: $text-gray-color;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    color: $grey-color;
}

.post-profile-img {
  width: 128px;
  height: 128px;
  margin-top: 32px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.post-content {
    margin-bottom: $spacing-unit;
    line-height: 2em;
    text-align: justify;
    word-break: keep-all;

    p {
      padding: 1em 0 1em 0;
    }

    h2 {
        font-size: 36px;
        padding-top: 16px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    img {
      opacity: 0;
      margin: 16px 0 8px 0;
      transition: opacity 0.4s ease-in-out;
    }

    hr {
      border-top: 1px solid $grey-color-light;
      background-color: $grey-color-light;
      color: $grey-color-light;
    }
}

/**
 * Pages
 */
.post-page-content {
  p, h1, h2, h3, h4, h5 {
    text-align: center;
  }

  img {
    opacity: 1;
  }
}
