---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="wrapper">
    <header class="post-header">
      <div class="post-title" itemprop="name headline">{{ page.title }}</div>
      <div class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y년 %m월 %d일" }}</time>
        <img class="post-profile-img" src="/static/profile/{{ page['author-email'] }}.png"/>
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      </div>
    </header>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
  </div>

  <div class="fb-comment-embed" data-href="{{ page.url }}" data-width="560" data-include-parent="false"></div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="/js/post.js"></script>

</article>
